<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VirgilCryptoSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VirgilCryptoSwiftTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VirgilCypto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>361402741BB2A6CB002E69CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3614028D1BB2A6CB002E69CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>361402B61BB2AC5B002E69CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>361402CA1BB2AC5B002E69CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
